.container{
    display: flex;
    background-color: lightskyblue;
    border: 4px solid navy;
    padding: 20px;
    height: 250px;
    width: 350px;
    margin: 2px;
    justify-content:center;
    flex-direction: row;
    align-items: center;
}
.item{
    background-color: palevioletred;
    border:4px solid brown;
    height: 80px;
    width: 75px;
}